---
// src/pages/index.astro
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

const response = await fetch(`${import.meta.env.PUBLIC_DATABASE_URL}posts/`);
const data = await response.json();
const posts = data.data;
---

<MainLayout>
  <h1 class="text-3xl font-bold mb-6">Últimos Posts</h1>

  <div class="space-y-4">
    {
      posts.map(
        (post: {
          title: string;
          id: number;
          slug: string;
          content: string;
          created_at: string;
        }) => <PostCard {...post} />
      )
    }
  </div>
</MainLayout>
